#root {
  .Tooltip.InfoButtonWithTooltip {
    &__tooltip {
      --InfoButtonWithTooltip-visibility: "hidden";

      visibility: var(--InfoButtonWithTooltip-visibility);
      top: 2.7rem;
      right: -0.5rem;
      padding: 1rem 1.5rem;
    }
  }
}
