.CopyWithTooltip {
  --CopyWithTooltip-visibility: "hidden";

  position: relative;
  display: inline-block;

  &__content {
    cursor: pointer;
    opacity: 1;
    transition: opacity var(--anim-transition-default);

    @media (hover: hover) {
      &:hover {
        opacity: var(--opacity-disabled-button);
      }
    }
  }

  &__tooltip {
    visibility: var(--CopyWithTooltip-visibility);
    // TODO: hard coded color
    background-color: #292d3e;
    top: 2.7rem;
    right: -1rem;

    &--bottom {
      right: 50%;
      transform: translateX(50%);
    }

    &--right {
      top: 50%;
      transform: translate(100%, -50%);
    }
  }
}
