.Landing-container {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Landing-buttons-wrapper {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > a {
    margin-bottom: 2rem;
  }
}

.WalletButtons-container {
  width: 100%;
  max-width: 590px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem 0;

  & > div {
    margin-bottom: 1.5rem;
    width: 100%;

    @media (min-width: 700px) {
      width: calc(50% - 1.75rem);
    }
  }
}

.FooterButtons-stacked {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

// TODO: look into specificity in Modal.Body
.CopyKey-container {
  margin-top: 2.5rem !important;
  margin-bottom: 2rem !important;
}

.Tooltip {
  padding: 0.5rem 1rem;
  background-color: var(--pal-brand-primary);
  position: absolute;
  max-width: 16.875rem;
  border-radius: 0.125rem;
  color: var(--pal-brand-primary-on);
  font-size: var(--font-size-secondary);
  line-height: 1.5em;
  z-index: var(--z-index-tooltip);
  cursor: default;

  a {
    color: inherit;
    white-space: nowrap;
  }
}
