// Generic styles
.align {
  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}

.Landing-container {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Landing-buttons-wrapper {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > a {
    margin-bottom: 2rem;
  }
}

.WalletButtons-container {
  width: 100%;
  max-width: 590px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem 0;

  & > div {
    margin-bottom: 1.5rem;
    width: 100%;

    @media (min-width: 700px) {
      width: calc(50% - 1.75rem);
    }
  }
}

.Header {
  &__account {
    display: flex;
    order: 1;
    justify-content: center;
    margin-top: 1.2rem;
    min-width: 100%;
    position: relative;

    @media (min-width: 700px) {
      min-width: auto;
      align-items: center;
      order: 0;
      flex: 1;
      justify-content: flex-end;
      margin-top: 0;
      margin-right: 1rem;

      &::after {
        content: "";
        display: block;
        width: 1px;
        height: 2rem;
        background-color: var(--pal-border-primary);
        margin-left: 1rem;
      }
    }
  }
}

.FooterButtons-stacked {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

// TODO: look into specificity in Modal.Body
.CopyKey-container {
  margin-top: 2.5rem;
  margin-bottom: 2rem !important;
}

.Tooltip {
  padding: 0.5rem 1rem;
  background-color: var(--pal-brand-primary);
  position: absolute;
  max-width: 16.875rem;
  border-radius: 0.125rem;
  color: var(--pal-brand-primary-on);
  font-size: var(--font-size-secondary);
  line-height: 1.5em;
  z-index: var(--z-index-tooltip);
  cursor: default;

  a {
    color: inherit;
    white-space: nowrap;
  }
}

.ReceiveModal__share {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  max-width: 19rem;

  &__qrcode {
    margin-bottom: 2rem;
    background-color: var(--pal-background-secondary);
    padding: 1rem;
    border-radius: 0.125rem;
  }

  .CopyKey-container {
    margin-top: 1.5rem;
  }
}

// TODO: look into specificity in Modal.Body
.SendTransaction__memo-link {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem !important;
}

.Congestion {
  font-weight: var(--font-weight-medium);

  &--low {
    color: var(--pal-success);
  }

  &--medium {
    color: var(--pal-warning);
  }

  &--high {
    color: var(--pal-error);
  }
}
